.containerH {
  @include centerCol;
  width: 100vw;
  .content {
    @include centerCol;
    margin: 1.5rem 0 2rem 0;
    .titulo {
      margin: 0 0 1rem 0;
      font-size: 4rem;
      font-weight: bold;
    }
    .text {
      text-align: center;
      font-weight: 500;
      margin: 0 0 1rem 0;
      font-size: 1rem;
    }
    .button {
      margin-top: 1rem;
      width: 50%;
    }
  }
  .image {
    max-width: 70%;
    border-radius: 5px;
  }
}
